.video-card-info {
    display: flex;
    flex-direction: column;
    margin: 15px;
    cursor: pointer;
    /* overflow: hidden; */
    /* pointer-events: none; */
}

.video-card-info img {
    width: 150px;
}

.video-card-info h5 {
    width: 150px;
    height: 30px;
    overflow-y: scroll;
}
